In [116]:
import numpy as np
import pandas as pd
import re

orders_df  = pd.read_csv('Orders.csv')
returns_df  = pd.read_csv('Returns.csv')

In [117]:
orders_df.Sales = orders_df.Sales.str.replace('[$,]', '')
orders_df.Sales = orders_df.Sales.astype(float)

In [118]:
orders_df.Profit = orders_df.Profit.str.replace('[$,]', '')
orders_df.Profit = orders_df.Profit.astype(float)

In [119]:
orders_df['Order.Date'] = pd.to_datetime(orders_df['Order.Date'])
orders_df['Ship.Date'] = pd.to_datetime(orders_df['Ship.Date'])

In [120]:
orders_df['Month'] = [d.month for d in orders_df['Order.Date']]

In [121]:
orders_df['Year'] = [d.year for d in orders_df['Order.Date']]

In [123]:
orders_df[['Month','Quantity']].groupby(['Month']).agg(['sum','count']).reset_index()
# an increase in sales before each season change with a significant uptick in sales during the holiday months in
# november and december

   Month Quantity
              sum count
0      1     8872  2611
1      2     7429  2209
2      3    10390  3007
3      4    10466  3032
4      5    13196  3787
5      6    18009  5302
6      7    11046  3195
7      8    17596  5065
8      9    20479  5958
9     10    16303  4556
10    11    22379  6311
11    12    22147  6257

In [124]:
trend_df = orders_df[['Month','Quantity','Category']].groupby(['Month','Category']).agg(['sum','count']).reset_index()

In [125]:
returns = orders_df.merge(returns_df, left_on='Order.ID', right_on='Order ID')

In [163]:
# Profit loss 
returns[['Year','Profit']].groupby('Year').sum()

        Profit
Year
2012  17477.26
2013   9269.89
2014  17510.63
2015  17112.97